[submodule "lib/mbedtls"]
	path = lib/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
	tag = v3.0.0
[submodule "lib/protobuf-c"]
	path = lib/protobuf-c
	url = https://github.com/protobuf-c/protobuf-c.git
[submodule "lib/protobuf"]
	path = lib/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
