[submodule "lib/protobuf-c"]
	path = lib/protobuf-c
	url = https://github.com/protobuf-c/protobuf-c.git
	tag = v1.4.0
[submodule "lib/protobuf"]
	path = lib/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
    tag = v3.19.2
[submodule "protos/src"]
	path = protos/src
	url = https://github.com/ziv-e2eelab-org/skissm-protos
