[submodule "lib/protobuf-c"]
	path = lib/protobuf-c
	url = https://github.com/protobuf-c/protobuf-c.git
	tag = v1.4.0
[submodule "lib/protobuf"]
	path = lib/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
    tag = v24.3
[submodule "lib/kyber/src"]
	path = lib/kyber/src
	url = https://github.com/pq-crystals/kyber.git
	branch = master
[submodule "lib/sphincsplus/src"]
	path = lib/sphincsplus/src
	url = https://github.com/sphincs/sphincsplus.git
	branch = master
[submodule "protos/src/skissm"]
	path = protos/src/skissm
	url = https://github.com/ziv-e2eelab-org/skissm-protos
	branch = master
